<div class="bg-cover bg-no-repeat bg-center py-36 relative"
     style="background-image: url(&quot;images/banner-bg.jpg&quot;);"
>
    <div class="max-w-1200 mx-auto">
        <h1 class="xl:text-6xl md:text-5xl text-4xl text-gray-800 font-medium mb-4">
            Bộ sưu tập tốt nhất cho 
             <br class="hidden sm:block"> Trang trí nhà cửa
        </h1>
        <p class="text-base text-gray-600 leading-6">
            Khám phá những thiết kế độc đáo, mang đến sự hài hòa và ấm cúng cho không gian sống của bạn. <br class="hidden sm:block"> Đây là nơi sáng tạo hòa quyện cùng phong cách!
        </p>
        <div class="mt-12">
            <a href="/"
               class="bg-primary border border-primary text-white px-8 py-3 font-medium rounded-md uppercase hover:bg-transparent hover:text-primary transition"
            >
                Mua ngay
            </a>
        </div>
    </div>
</div>
<div class="max-w-1200 mx-auto py-16">
    <div class="lg:w-10/12 grid md:grid-cols-3 gap-3 lg:gap-6 mx-auto justify-center">
        <div class="border-primary border rounded-sm px-8 lg:px-3 lg:py-6 py-4 flex justify-center items-center gap-5">
            <img src="/images/icons/delivery-van.svg" class="lg:w-12 w-10 h-12 object-contain" alt="delivery-van"/>
            <div>
                <h4 class="font-medium capitalize text-lg">giao hàng miễn phí</h4>
                <p class="text-gray-500 text-xs lg:text-sm">Đơn hàng trên $200</p>
            </div>
        </div>
        <div class="border-primary border rounded-sm px-8 lg:px-3 lg:py-6 py-4 flex justify-center items-center gap-5">
            <img src="/images/icons/money-back.svg" class="lg:w-12 w-10 h-12 object-contain" alt="money-back"/>
            <div>
                <h4 class="font-medium capitalize text-lg">Trả lại tiền</h4>
                <p class="text-gray-500 text-xs lg:text-sm">Hoàn tiền trong 30 ngày</p>
            </div>
        </div>
        <div class="border-primary border rounded-sm px-8 lg:px-3 lg:py-6 py-4 flex justify-center items-center gap-5">
            <img src="/images/icons/service-hours.svg" class="lg:w-12 w-10 h-12 object-contain" alt="service-hours">
            <div>
                <h4 class="font-medium capitalize text-lg">Hỗ trợ 24/7</h4>
                <p class="text-gray-500 text-xs lg:text-sm">Hỗ trợ khách hàng</p>
            </div>
        </div>
    </div>
</div>
