<div class="max-w-1200 mx-auto py-2 flex items-center">
    <a routerLink="/">
        <img src="/images/logo.png" alt="logo" class="h-12">
    </a>
    <div class="grow">
        <form class="flex mx-auto w-1/2 rounded overflow-hidden" [formGroup]="searchForm" (ngSubmit)="handleOnSubmit()">
            <input formControlName="search" type="text" placeholder="Search"
                   class="w-full rounded-sm border border-gray-300 px-3 py-2">
            <button type="submit" class="bg-primary text-white px-3">Search</button>
        </form>
    </div>
    <div class="flex space-x-4">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
             class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round"
                  d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
        </svg>
    </div>
</div>

<app-navigation></app-navigation>
