<nav class="bg-secondary sticky top-0 z-10">
    <div class="max-w-1200 mx-auto flex items-center">
        <button class="px-8 py-3 flex space-x-1 text-white font-medium bg-primary">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <span>All category</span>
        </button>

        <div class="pl-12 grow flex justify-between">
            <ul class="flex space-x-5">
                <li class="text-white hover:opacity-100 cursor-pointer transition-all duration-300">
                    <a [routerLink]="['/']" [class.text-primary]="isActive('/')" class="text-white hover:opacity-100 cursor-pointer transition-all duration-300">Home</a>
                </li>
                <li>
                    <a [routerLink]="['/search']" [class.text-primary]="isActive('/search')" class="text-white hover:opacity-100 cursor-pointer transition-all duration-300">Shop</a>
                </li>
                <li>
                    <a [routerLink]="['/about-us']" [class.text-primary]="isActive('/about-us')" class="text-white hover:opacity-100 cursor-pointer transition-all duration-300">About US</a>
                </li>
                <li>
                    <a [routerLink]="['/contact']" [class.text-primary]="isActive('/contact')" class="text-white hover:opacity-100 cursor-pointer transition-all duration-300">Contact US</a>
                </li>
            </ul>

            <div *ngIf="isLoggedIn">
                <button (click)="handleLogout()" class="text-white hover:opacity-100 cursor-pointer transition-all duration-300">Logout</button>
            </div>
            <div *ngIf="!isLoggedIn">
                <a [routerLink]="['/login']" class="text-white hover:opacity-100 cursor-pointer transition-all duration-300">Login</a>
                <span class="px-0.5 text-white">/</span>
                <a [routerLink]="['/register']" class="text-white hover:opacity-100 cursor-pointer transition-all duration-300">Signup</a>
            </div>
        </div>
    </div>
</nav>

